<a href="https://colab.research.google.com/github/sandeepbansode/Basic_Python/blob/main/Basic_Python_function_part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Function**

֍ If a group of statements is repeatedly required then it is not recommended to write these statements everytime seperately.We have to define these statements as a single unit and we can call that unit any number of times based on our requirement without rewriting. This unit is nothing but function.

֍ The main advantage of functions is code Reusability.

֍ Python supports two types of functions:

1) Built-in function

2) User defined function



1) Built in Functions:

The functions which are coming along with Python software automatically, are called built in functions or pre defined functions.

e.g. id(), type(), input(),eval()

User defined function:
The functions which are developed by programmer explicitly according to business requirements, are called user defined functions.

Syntax:

def function_name(parameters):

''' doc string'''

python code

return value

In [1]:
p = "python" #len inbuilt function
len(p)

6

In [2]:
id(p)

140377195972720

In [6]:
eval(str(p) )

20

In [5]:
p = input("enter a number : ")

enter a number : 20

In [7]:
def wish():        #defined function
  print("Good Morning")

In [9]:
wish()

Good Morning

# Parameters

Parameters are inputs to the function. If a function contains parameters, then at the time of calling,compulsory we should provide values otherwise, we will get error.

Eg: Write a function to take name of the student as input and print wish message by name.

In [10]:
def wish(name):
  print("Hello",name,"Good Morning")

In [14]:
wish("Rahul")

Hello Rahul Good Morning

In [16]:
def my_name(name):
  print("hello",my_name,"how are you")

In [18]:
my_name

In [20]:
my_name() #we have to provide "name" otherwise it will show error

TypeError: ignored

In [24]:
# Eg: Write a function to take number as input and print its square value

def sqr(number):
  print(number*number)

In [25]:
sqr(89)

7921

In [26]:
sqr(2)

4

In [27]:
sqr(52)

2704

# **Return Statement:**

Function can take input values as parameters and executes business logic, and returns output to the caller with return statement.

Q) Write a Function to accept 2 Numbers as Input and return Sum

In [34]:
def sun(a,b):
  print(a+b)
  return

In [35]:
sun(5,6)

11

In [36]:
def sum (x,y):
  return x+y

In [37]:
sum (5,96)

101

In [38]:
sum(7,8)

15

In [39]:
def mul(x,y):
  return x*y

In [40]:
mul(5,6)

30

In [41]:
print(sum(5,6))
mul(5,6)

11

30

In [42]:
"""Q) Write a Function to check whether the given Number is
  Even OR Odd?"""

def even_odd():
  n=int(input("Enter a number : "))
  if n%2==0:
    print("Entered number is even")
  else:
    print("Entered number is odd")

In [43]:
even_odd()

Enter a number : 45
Entered number is odd

In [44]:
even_odd()

Enter a number : 78
Entered number is even

In [67]:
"""Q) Write a Function to find Factorial of given Number?"""
#using for loop
def fact():
  n = int(input("enter the number : "))
  m = 1
  for i in range(1,n+1):
    m=m*i
  print(m)

In [68]:
fact()

enter the number : 4
24

In [69]:
fact()

enter the number : 5
120

In [62]:
#factorial using while loop

def factt():
  n = int(input("Enter the number : "))
  v=1
  while n>=1:
    v=v*n
    n=n-1  
  print(v)

In [63]:
factt()

Enter the number : 4
24

In [65]:
factt()

Enter the number : 5
120

In [66]:
print(factt())
fact()

Enter the number : 5
120
None
enter a number : 5
120

In [89]:
def fact(num):
  v= 1
  while num>=1:
    v=num*v
    num=num-1
  return v

In [90]:
fact(5)

120

In [91]:
for i in range(1,5):
  print("factorial of",i,"is:",fact(i))

factorial of 1 is: 1
factorial of 2 is: 2
factorial of 3 is: 6
factorial of 4 is: 24

In [94]:
for i in range(15,5,-1):
   print("The Factorial of",i,"is :",fact(i))

The Factorial of 15 is : 1307674368000
The Factorial of 14 is : 87178291200
The Factorial of 13 is : 6227020800
The Factorial of 12 is : 479001600
The Factorial of 11 is : 39916800
The Factorial of 10 is : 3628800
The Factorial of 9 is : 362880
The Factorial of 8 is : 40320
The Factorial of 7 is : 5040
The Factorial of 6 is : 720

## Returning Multiple Values from a Function:

In [97]:
def sum_sub(a,b):
  sum = a+b
  sub = a-b
  return sum,sub

In [98]:
sum_sub(150,50)

(200, 100)

In [99]:
sum_sub(500,150)

(650, 350)

In [100]:
def mul_div(a,b):
  mul = a*b
  div = a/b
  print(mul,div)

In [101]:
mul_div(15,5)

75 3.0

In [118]:
def mul_div(a,b):
  mul = a*b
  div =int(a/b)
  return mul,div

In [119]:
mul_div(15,5)

(75, 3)

In [120]:
mul_div(9,3)

(27, 3)

In [123]:
x,y = sum_sub(10,12)
print("the sum is :",x)
print("the sub is :",y)


m,n = mul_div(120,12)
print("the mul is :",m)
print("the div is :",n)

the sum is : 22
the sub is : -2
the mul is : 1440
the div is : 10

In [124]:
m,n=mul_div(12,12)
print("the multiplication is :",m)
print("the division is :",n)

the multiplication is : 144
the division is : 1

# Types of Arguments

def f1(a,b):

-

-

f1(10,20)

a, b are formal arguments where as 10,20 are actual arguments.

There are 4 types are actual arguments are allowed in Python.

* Positional Arguments
* Keyword Arguments
* Default Arguments
* Variable length arguments

# Positional Arguments

These are the arguments passed to function in correct positional order.

def sub(a, b):

print(a-b)

sub(100, 200)

sub(200, 100)

The number of arguments and position of arguments must be matched. If we change the order then result may be changed.

In [131]:
def sum_sub(x,y):
  sum= x+y
  sub = x-y
  return sum, sub

In [132]:
sum_sub(15,5)

(20, 10)

In [133]:
sum_sub(5,15)

(20, -10)

In [134]:
sum_sub(200,100)

(300, 100)

In [135]:
sum_sub(100,200)

(300, -100)

## 2. Keyword Arguments:

We can pass argument values by keyword i.e by parameter name.

In [140]:
def wish(name,message):
  print("Hello",name,message)

In [141]:
wish(message="hello",name = "rahul")

Hello rahul hello

In [144]:
wish(name="rahul",message="hello") #position change does not matters

Hello rahul hello

## 3. Default Arguments:

Sometimes we can provide default values for our positional arguments.

In [160]:
def wish(name=" "):
  print("Hello",name,"Good Morning")

In [161]:
wish("sandeep")

Hello sandeep Good Morning

In [162]:
wish()

Hello   Good Morning

In [163]:
def hgr(name = "Guest"):
  print("Hello",name,"How are you.?")

In [164]:
hgr("sandeep")

Hello sandeep How are you.?

In [165]:
hgr()

Hello Guest How are you.?

## 4. Variable Length Arguments:

Sometimes we can pass variable number of arguments to our function, such type of arguments are called variable length arguments.

We can declare a variable length argument with * symbol as follows

def f1(*n):

We can call this function by passing any number of arguments including zero number.

Internally all these values represented in the form of tuple.

In [168]:
def sum (*n):
  total = 0
  for i in n:
    total = total+i
  return total

In [169]:
sum(10,15,16,19)

60

In [170]:
sum(10,10,10,10)

40

In [171]:
sum()

0

In [182]:
# We can mix variable length arguments with positional arguments.

def grh(n,*v):
  print(n)
  for i in v:
    print(i)

In [183]:
grh(15,15,15,14,15,45)

15
15
15
14
15
45

In [179]:
grh(15,25,63,21,45,85,69)

15
25
63
21
45
85
69

Note: After variable length argument,if we are taking any other arguments then we should provide values as keyword arguments.

In [185]:
def ggg(*v,n):
  for i in v:
    print(i)
  print(n)

In [186]:
ggg(12,15,14,15,16,n=45)

12
15
14
15
16
45

In [189]:
def ghg(*g,n): #here we add the argument elents
  p=0
  for i in g:
    p=p+i
    i+=1
  return p,n

In [190]:
ghg(12,15,14,18,19,n=26)

(78, 26)

# Note: We can declare key word variable length arguments also.

We can call this function by passing any number of keyword arguments. Internally these keyword arguments will be stored inside a dictionary.

In [195]:
def display(**kwargs):
  for i,j in kwargs.items():
    print(i,'=',j)

In [196]:
display(a=10,b=15,c=20)

a = 10
b = 15
c = 20

In [199]:
def show(**ght):
  for a,b in ght.items():
    print(a,'=',b)

In [200]:
show(a=12,d=45,g=48)

a = 12
d = 45
g = 48

Note: Function vs Module vs Library

A group of lines with some name is called a function

A group of functions saved to a file, is called Module

A group of Modules is nothing but Library

# Types of Variables

Python supports 2 types of variables.

1. Global Variables

2. Local Variables

In [204]:
# global variables define outside the function

x= 10
def sum():
  b=15
  print(x+b)

In [205]:
sum() #we can access global variable in function but not vice versa.

25

In [209]:
x

10

# Local Variables:

1. The variables which are declared inside a function are called local variables.

2. Local variables are available only for the function in which we declared it.

In [213]:
def hi():
  a=45
  print(a)

In [212]:
a #Local variables are available only for the function in which we declared it.

NameError: ignored

In [214]:
hi()

45

In [215]:
"""Note: If global variable and local variable having the same name then we can access
  global variable inside a function as follows"""

a= 120 #global variable
def hello():
  a=652  #local variable
  print(a)

In [216]:
hello()

652

In [219]:
a=120 #global variable
def hello():
  a=652 #local variable
  print(a)
  print(globals()["a"])

In [220]:
hello()

652
120

# Recursive Function:

A function that calls itself is known as Recursive Function.

Main advantages of recursive functions are:

1. We can reduce length of the code and improves readability.
2. We can solve complex problems very easily.
E.g.

factorial(3) = 3 * factorial(2)

= 3 * 2 * factorial(1)

=321*factorial(0)

=321*1

=6

factorial(n) = n * factorial(n-1)

In [236]:
'''Write a Python Function to find Factorial of given
  Number with Recursion'''

def factorial(n):
  if n==0:
    result=1
  else:
    result= n*factorial(n-1)
  return result

In [229]:
factorial(4)

24

In [237]:
factorial(5)

120

In [238]:
print("factorial of 5 is: ",factorial(5))

factorial of 5 is:  120

In [239]:
print("factorial of 10 is :",factorial(10))

factorial of 10 is : 3628800

## Anonymous Functions:(Lambda Function)

Sometimes we can declare a function without any name,such type of nameless functions are called anonymous functions or lambda functions.

The main purpose of anonymous function is just for instant use(i.e for one time usage)

We can define by using lambda keyword

lambda n:n*n

SyntaxoflambdaFunction:lambda argument_list:expression

Note: By using Lambda Functions we can write very concise code so that readability of the program will be improved.

In [241]:
'''Q) Write a Program to create a Lambda Function to find Square of
  given Number?'''
s = lambda n:n*n

s(5) #sqr of 5

25

In [242]:
s(10)

100

In [244]:
print("squr of 15 is :",s(15))

squr of 15 is : 225

In [245]:
for i in range(9,15):
  print("squr of ",i,"is :",s(i))

squr of  9 is : 81
squr of  10 is : 100
squr of  11 is : 121
squr of  12 is : 144
squr of  13 is : 169
squr of  14 is : 196

In [252]:
'''Q) Lambda Function to find Sum of 2 given Numbers'''
a = lambda p,q:p+q

In [253]:
a(15,16)

31

In [255]:
print("the addition of 20 and 30 is:",a(20,30))

the addition of 20 and 30 is: 50

In [258]:
print("the sum of 485 and 152 is :",a(485,152))

the sum of 485 and 152 is : 637

In [262]:
'''Q) Lambda Function to find biggest of given Values'''

a = lambda a,b,c: a if a>b and a>ce else b if b>c else c

In [263]:
a(15,48,56)

56

In [264]:
a(5,85,96)

96

In [265]:
a(89,89.52,89.5)

89.52

In [268]:
print("the biggest number in 45,69,65 is :", a(45,69,65))
print("the biggest number in 48,56,26 is :",a(48,56,26),end="\t")

the biggest number in 45,69,65 is : 69
the biggest number in 48,56,26 is : 56

Note: Lambda Function internally returns expression value and we are not required to write return statement explicitly.

We can use lambda functions very commonly with filter(), map() and reduce() functions, because these functions expect function as argument.