<a href="https://colab.research.google.com/github/sandeepbansode/Basic_Python/blob/main/Basic_Python_3" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Basic_Python_3**

## operators in python

Operators are used to perform operations on variables and values.

Python divides the operators in the following groups:

* Arithmetic operators

* Assignment operators

* Comparison operators

* Logical operators

* Identity operators

* Membership operators

* Bitwise operators

## Arithmetic operation

x and y two variables
 * Addition x+y

 * Subtraction x-y	
 *	Multiplication x*y 	
 * Division	x/y
 *	Modulus	x % y	
 *	Exponentiation	x ** y	
 *	Floor division	x // y

In [ ]:
#addition
x = 10
y = 15
x+y

25

In [ ]:
#subtraction 
x = 15
y = 25
y-x

10

In [ ]:
#multiplication
x = 10
y = 15
x*y

150

In [ ]:
#division
x = 125
y = 15
print(x/y)
int(x/y)

8.333333333333334

8

In [ ]:
#modulus
x = 23
y = 5
x%y

3

In [ ]:
#exponentiation
x = 12
y = 4
x**y

20736

In [ ]:
#floor division
x = 50
y = 15
x//y

3

# assignment operator 
The following is the list of all possible compound assignment operators in Python.

 +=

 -=

 *=

 /=

 %=

 //=

 **=

 &=

 |=

 ^=

 >>=

 <<=

In [ ]:
x = 20
x+=x
x

40

In [ ]:
x = 20
x*=x 
print(x)

400

In [ ]:
#the program for Maximum Of Three Numbers

x = int (input ('enter the 1st number:' ))
y = int (input('enter the 2nd number :'))
z = int (input('enter the 3rd number:'))
zz = x if x>y and x>z else y if y>z else z
print('maximum number is :', zz)

enter the 1st number:14
enter the 2nd number :48
enter the 3rd number:48
maximum number is : 48

# comparison operator

Comparison operators — operators that compare values and return true or false . The operators include: > , < , >= , <= , == , and !=

In [ ]:
x = 10
y = 20
print(x==y)
print(x!=y)
print(x<y)
print(x>y)
print(x<=y)
print(x>=y)

False
True
True
False
True
False

# Logical operators
Logical operators — operators that combine multiple boolean expressions or values and provide a single boolean output.

  *  **For boolean Types Behaviour:**

*  or -> If atleast one arugemnt is True then result is True

* not -> Complement

* True and False ==> False

* True or False ==> True

* not False ==> True

 * **For non-boolean Types Behaviour:**

* 0 means False

* non-zero means True

* empty string is always treated as False

* x and y:  
 If x is evaluates to false return x otherwise return y

* x or y :

  If x evaluates to True then result is x otherwise result is y

In [ ]:
#and  	Logical AND:True if both the operands are true    	x and y
#or   	Logical OR:True if either of the operands is true	  x or y
#not  	Logical NOT:True if operand is false              	not x

In [ ]:
print(5 and 26)
5 or 26

26

5

In [ ]:
print(0 and 68) #0 meanse false
0 or 68

0

68

# **Identity operators**
dentity operators are used to compare the objects, not if they are equal, but
 if they are actually the same object, with the same memory location:


 The Equality operator (==) compares the values of both the operands and checks for value equality. Whereas the 'is' operator checks whether both the operands refer to the same object or not (present in the same memory location).

In [ ]:
#'''Operator	    Description                                             	Example	
#    is 	        Returns True if both variables are the same object      	x is y	
#  is not       	Returns True if both variables are not the same object  	x is not y'''

In [ ]:
x= 2 
y= 20
x is y

False

In [ ]:
x is not y

True

# **Membership operator**

Membership operators are operators used to validate the membership of a value. It tests for membership in a sequence, such as strings, lists, or tuples. 

in operator: The ‘in’ operator is used to check if a value exists in a sequence or not. Evaluate to true if it finds a variable in the specified sequence and false otherwise.

In [8]:
 x = [12,15,56,95,254,45,56]

 12 in x

True

In [9]:
96 not in x

True

In [18]:
avengers = ('ironman',"loki","dr.strange","hulk","thor")
print('loki' in avengers)

print('widow' in avengers)

'thanos' not in avengers

True
False

True

# **Bitwise operator** 
Operators are used to perform operations on values and variables. These are the special symbols that carry out arithmetic and logical computations. The value the operator operates on is known as Operand.

In Python, bitwise operators are used to performing bitwise calculations on integers. 

The integers are first converted into binary and then operations are performed on bit by bit, hence the name bitwise operators. 

Then the result is returned in decimal format.


* **Bitwise operators:** 

* Bitwise AND operator  (&) = Returns 1 if both the bits are 1 else 0.
* Bitwise OR operator (|) =  Returns 1 if either of the bit is 1 else 0.
* Bitwise not operator (~) = Returns one’s complement of the number.
* Bitwise XOR operator (^) = Returns one’s complement of the number.

In [22]:
a= 80
b = 50
print(a&b)
print(a|b)
print(a^b)
~a

16
114
98

-81

In [23]:
~-5 # formula for ~ = -x-1

4

In [24]:
10.00&11.00 #bitwise operators only supports to int

TypeError: ignored

# **Shift** **operator**
 * **Shift Operators:** (<<,>>)
 These operators are used to shift the bits of a number left or right thereby multiplying or dividing the number by two respectively. They can be used when we have to multiply or divide a number by two. 

* **Bitwise right shift:(>>)** Shifts the bits of the number to the right and fills 0 on voids left( fills 1 in the case of a negative number) as a result. Similar effect as of dividing the number with some power of two.

* **Bitwise left shift:(<<)**  Shifts the bits of the number to the left and fills 0 on voids right as a result. Similar effect as of multiplying the number with some power of two.

In [27]:
a = 10
a>>1

5

In [29]:
b = 15
b<<1

30

# **Operator Precedence:**

If multiple operators present then which operator will be evaluated first is decided by operator precedence.

**BODMAS Rule:** 'Brackets, Order, Division, Multiplication, Addition, Subtraction. '

# **Math module**


The math module is a standard module in Python and is always available. To use mathematical functions under this module, you have to import the module using import math

In [30]:
import math
math.sqrt(25)

5.0

In [31]:
math.pi

3.141592653589793

In [37]:
# Other important functions in math module
from math import ceil, floor, factorial, trunc, gcd, sin,cos,tan

print(ceil(458.55)) #Return the ceiling of x
print(floor(10.55)) #Return the floor of x
print(pow(10,20)) #
print(factorial(5))
print(trunc(10.55)) #Return x with the fractional part removed, leaving the integer part. This rounds toward 0:
print(gcd(10,20))     
""" gcd() = Return the greatest common divisor of the specified integer arguments.
If any of the arguments is nonzero, then the returned value is the largest positive integer that is a divisor of all arguments. 
 If all arguments are zero, then the returned value is 0. gcd() without arguments returns 0   """
print(gcd(860,752)) #only two arguments

print(sin(10))
print(cos(10))
print(tan(10))

459
10
100000000000000000000
120
10
10
4
-0.5440211108893698
-0.8390715290764524
0.6483608274590866

In [50]:
#area of a circle
import math

r = int(input ("Enter the value of radius : "))
A = math.pi*r**2

print("Area of A Circle is :", A)

Enter the value of radius : 5
Area of A Circle is : 78.53981633974483

In [52]:
#eval 
#eval Function take a String and evaluate the Result

x = ("12*45+4")
eval(x)

544

# Output Statements:
We can use print() function to display output.

In [53]:
#We can use escape characters
print("Hello \n World")

Hello
 World

In [55]:
#print with variable number of arguments
x,y,z=17,26,36
print("The Values are :",x,y,z)

The Values are : 17 26 36

In [56]:
# By default output values are seperated by space.If we want we can specify seperator by using "sep" attribute
a,b,c=10,20,30
print(a,b,c,sep=',')

10,20,30

In [57]:
'''1) %i == int
   2) %d == int
   3) %f == float
   4) %s == String type'''

a=10
b=20
c=30
print("a value is %i" %a)
print("b value is %d and c value is %d" %(b,c))

a value is 10
b value is 20 and c value is 30

In [65]:
s=input('enter your name : ')
drink=input("enter drink you like : ")
print("Name of student : %s, favourite drink : %s" %(s,drink))

enter your name : rahul
enter drink you like : tea
Name of student : rahul, favourite drink : tea

In [59]:
# If we want output in the same line with space
print("Hello",end=' ')
print("World",end=' ')
print("Welcome")

Hello World Welcome

In [68]:
"bye"

'bye'