<a href="https://colab.research.google.com/github/sandeepbansode/Basic_Python/blob/main/4_Basic_python_control_flow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Flow control**


![python-flow-control-statements.webp]()

# **conditional statements**
 In Python, condition statements act depending on whether a given condition is true or false. You can execute different blocks of codes depending on the outcome of a condition. Condition statements always evaluate to either True or False.

There are four types of conditional statements.

* #### if statement
* #### if-else
* ### if-elif-else
* ### nested if-else

# **if statement**

In control statements, The if statement is the simplest form. It takes a condition and evaluates to either True or False.

If the condition is True, then the True block of code will be executed, and if the condition is False, then the block of code is skipped, and The controller moves to the next line

Syntax of the if statement

 
 if condition:

     statement 1

     statement 2

     statement n

In [ ]:
x= 25
y= 15
if x>y:
  print("x is greater than y")

x is greater than y

In [6]:
#if else statement
x=input("Enter ypur name: ")

if x=="rahul":
  print("hello rahul")
  print("Good Morning Rahul")
else:
  print("hello",x)
  print("Good Morning",x)

print("Have nice day",x)

Enter ypur name: rahul
hello rahul
Good Morning Rahul
Have nice day rahul

In [ ]:
# a program to find biggest of given 2 numbers
x= input("Enter the value of x :" )
y = input("Enter the value of y: ")

if x>y:                           #
  print("x is greater than y")
  print("thank you ,good bye")

Enter the value of x :85
Enter the value of y: 12
x is greater than y
thank you ,good bye

In [ ]:
#if elif else loop
# Program to find Biggest of given 3 Numbers from the Commad Prompt

x = int(input("Enter 1st number : "))
y = int(input("Enter 2nd number : "))
z = int(input("Enter 3rd number : "))

if x>y and x>z:
  print("The biggest number is : ", x)
elif y>z :
  print("The biggest number is :", y)
elif x==y and y==z:
  print("all numbers are equal")  
else :
  print("The biggest number is :", z)  



print("thank you")

Enter 1st number : 14
Enter 2nd number : 45
Enter 3rd number : 14
The biggest number is : 45
thank you

In [ ]:
# a program to find smallest of given 2 numbers
a = input ("Enter the 1st number : ")
b = input ("Enter the 2nd number : ")


if a>b :
 print("smallest number is :", b)
else:
 print("smallest number is :", a)

Enter the 1st number : 14
Enter the 2nd number : 15
smallest number is : 14

In [ ]:
# a program to find smallest of given 3 numbers
m= input("Enter 1st number :" )
n = input("Enter 2nd number : ")
o = input("Enter 3rd number : ")

if m<n and m<o :
  print("smallest number is :", m)
elif n<o:
  print("smallest number is : ",n)
elif m==n and n==o :
  print ("all the numbers are equal")
else:
  print("smallest number is :", o)  

print("Thank you ")

Enter 1st number :45
Enter 2nd number : 48
Enter 3rd number : 46
smallest number is : 45
Thank you

In [ ]:
#a program to check whether the given number is even or odd

s = int (input ("Enter the number : "))

if s%2 ==0 :
  print("This number is even :",s)
else:
  print("This number is odd :",s) 

print("Thank You")

Enter the number : 15
This number is odd : 15
Thank You

# **2) Iterative Statements:**

֍ ֍If we want to execute a group of statements multiple times then we should go for Iterative statements.

Python supports 2 types of iterative statements.

for loop

while loop

###**for loop:**

If we want to execute some action for every element present in some sequence (it may be string or collection) then we should go for for loop.

Syntax:

for x in sequence:

Body

Where sequence can be string or any collection.

Body will be executed for every element present in the sequence.

In [ ]:
# To print characters present in the given string
y = "Avengers: " #priting i
for i in y:
  print(i)

A
v
e
n
g
e
r
s
:

In [ ]:
x = (10,15,52,48,41) #printig x (tupel) 
for i in x:
   print(x)

(10, 15, 52, 48, 41)
(10, 15, 52, 48, 41)
(10, 15, 52, 48, 41)
(10, 15, 52, 48, 41)
(10, 15, 52, 48, 41)

In [ ]:
x = [10,15,52,48,41] #printig i #printing values in list
for i in x:
   print(i)

10
15
52
48
41

In [ ]:
#disply multiple of 5 in bet'n 75 to 100

for i in range(74,101):
  if i%5==0:
    print(i)

75
80
85
90
95
100

In [ ]:
#disply (10-0)in decending order

for i in range (10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# To print sqrt of numbers presenst inside list
import math
a = eval(input("Enter the list :"))

for x in a:
  x = math.sqrt(x)
  print(x)

Enter the list :4,45,47
2.0
6.708203932499369
6.855654600401044

# **While loop in Python**

In Python, The while loop statement repeatedly executes a code block while a particular condition is true.

In a while-loop, every time the condition is checked at the beginning of the loop, and if it is true, then the loop’s body gets executed. When the condition became False, the controller comes out of the block.

In [ ]:
# To print numbers from 90 to 101 by using while loop
i=90
while i<=100:
  i+=1
  print(i)

91
92
93
94
95
96
97
98
99
100
101

True

In [ ]:
for i in range (90,101):
 if i%2!=0:
   print(i)

91
93
95
97
99

In [ ]:
# To print only even numbers from 90 to 101 by using while loop
i=90
while i<=100:
  i+=2
  print(i)
"Thank you"

92
94
96
98
100
102

'Thank you'

In [ ]:
#print only odd number bet'n given list

x = eval(input("Enter the list:"))

for i in x: 
  if i%2 !=0:
    print(i)

Enter the list:1,2,3,4,5,6
1
3
5

# infinite loop

In [ ]:
'''x=90
while x<100:
  print(x)'''

'x=90\nwhile x<100:\n  print(x)'

# **Nested loops**

A nested loop is a loop inside the body of the outer loop. The inner or outer loop can be any type, such as a while loop or for loop. For example, the outer for loop can contain a while loop and vice versa

In [ ]:
for i in range(2):
  for j in range(3):
    print("i=",i,"j=",j)

i= 0 j= 0
i= 0 j= 1
i= 0 j= 2
i= 1 j= 0
i= 1 j= 1
i= 1 j= 2

In [ ]:
i=4
j=5
for i in range(0,4,1):
  for j in range(4,0,-3):

    print(i,j)

0 4
0 1
1 4
1 1
2 4
2 1
3 4
3 1

In [ ]:
# a Program to dispaly *'s in Right Angled Triangled Form
x = int(input("Enter the number of rows: "))

for i in range(0,x):       #outer loop to handle numbers of rows

  for j in range(0,i+1):   #inner loop to handle inner coloumn

    print("*",end="")      #end=""  for * to print in one cell

  print()                  #ending line after each row

Enter the number of rows: 5
*
**
***
****
*****

In [ ]:
#upside down pyramid
x = int(input("Enter the number of rows: "))
for i in range(x+1,0,-1):
  for j in range (0,i):
    print("*",end="")
  print()

Enter the number of rows: 5
******
*****
****
***
**
*

# Transfer statements

1) Break Statement

2) Continue statement 

3) Pass statement

### **break statement**

In [19]:
for i in range (10,25):  #range (10,25)=(10,11,12,13,.....,25)
  if i==15:
    break          # break the loop if i = 15
  print(i)

'Thank you'

10
11
12
13
14

'Thank you'

In [61]:
#using break statement on giving input #order on your burger cafe
x=eval(input("Enter your order list: "))
for i in x:

  if i >=70:
    break                               #break the loop if i>=70
  print("your %d burgers will deliver in 30 mins"%(i))  # %d= int


print("thank you enjoy your meal")

Enter your order list: 15,16,63,96.14
your 15 burgers will deliver in 30 mins
your 16 burgers will deliver in 30 mins
your 63 burgers will deliver in 30 mins
thank you enjoy your meal

# continue statement

In [69]:
x= eval(input("enter your order list:="))
for i in x:
  if i>=70:
    continue               #continue = if condition false skip and go to next  
  print("your %d burgers will be deliver in 30 mins "%(i))

enter your order list:=16,36,96,56,89
your 16 burgers will be deliver in 30 mins
your 36 burgers will be deliver in 30 mins
your 56 burgers will be deliver in 30 mins

loops with else block

In [65]:
x = [10,15,46,89,63,36,96] #loops with else block
for i in x:
  if i>=50:
    print("Enter the number below 50") #if number is greater than 50 it will print this statement
  else:
    print(i)

10
15
46
Enter the number below 50
Enter the number below 50
36
Enter the number below 50

In [70]:
cart = [15,46,825,500,65,585,49,565]
for i in cart:
  if i>=500:
    print("we does not have this much items",i)
    continue
  else:
    print(i)

15
46
we does not have this much items 825
we does not have this much items 500
65
we does not have this much items 585
49
we does not have this much items 565

# **pass statement**

pass is a keyword in python.

In our programming syntactically if block is required which won't do anything then we can define that empty block with pass keyword.

--> It is an empty statement.

-->It is a null statement.

--> It will not do anything.

Sometimes in the parent class we have to declare a function with empty body and child class responsible to provide proper implementation. Such type of empty body we can define by using pass keyword.

In [72]:
for i in range(100,200):
  if i%7==0:
    print(i)
  else:
    pass

105
112
119
126
133
140
147
154
161
168
175
182
189
196