<a href="https://colab.research.google.com/github/sandeepbansode/Basic_Python/blob/main/6_Basic_Python_list_data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **List**

*  If we want to represent a group of individual objects as a single entity where insertion order needs to be preserved and duplicates are allowed, then we should go for List.

* heterogeneous objects are allowed.

* List is dynamic because based on our requirement we can increase the size and decrease the size.

* In List the elements will be placed within square brackets and with comma seperator.

* We can differentiate duplicate elements by using index and we can preserve insertion order by using index. Hence index will play very important role.

* Python supports both positive and negative indexes. +ve index means from left to right where as negative index means right to left.

* Listobjectsaremutable.i.ewecanchangethecontent.

In [2]:
# create a empty list

x = []
 
x

[]

In [3]:
type(x)

list

In [6]:
p = list(range(0,11))

print(p)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
# list with split() function

x = "learning python is very easy"

p=x.split()
print(p)
type(p)

['learning', 'python', 'is', 'very', 'easy']

list

# **Accecing elements of the list**

we can access the elements of list by using index or slice operator ()

In [9]:
x = [11,12,15,'hello','true','python']

x[0]

11

In [12]:
x[4]    #by using index

'true'

In [14]:
x[1:5]  #by using slice operator start : end

[12, 15, 'hello', 'true']

In [16]:
x[1:6:1] #start:end:step

[12, 15, 'hello', 'true', 'python']

# **List vs Mutability**

The list is a data type that is mutable. Once a list has been created:

* Elements can be modified.
* Individual values can be replaced.
* The order of elements can be changed.

Lists are also dynamic. Elements can be added and deleted from a list, allowing it to grow or shrink:

In [27]:
x = [12,45,78,'a','True','@#'] #using index 

print(x)

x[0]='asdf' #changing the value of 0th index

x

[12, 45, 78, 'a', 'True', '@#']

['asdf', 45, 78, 'a', 'True', '@#']

In [28]:
x=[10,20,30,40]
x[0:3]= [12,15,35] #using slice
print(id(x))
print(id(y))
print(x)
y

140018413986512
140018414430320
[12, 15, 35, 40]

[10, 20, 30, 40]

# **Traversing elements of the list**

 Traversing means visiting each node of the list once in order to perform some operation on that.

In [31]:
#by using for loop

x = [12,15,18,19,63,'avengers'] 

for i in x:
  print(x) #here we printing x;list

for j in x: #here we printing j
  print(j)

[12, 15, 18, 19, 63, 'avengers']
[12, 15, 18, 19, 63, 'avengers']
[12, 15, 18, 19, 63, 'avengers']
[12, 15, 18, 19, 63, 'avengers']
[12, 15, 18, 19, 63, 'avengers']
[12, 15, 18, 19, 63, 'avengers']
12
15
18
19
63
avengers

In [38]:
#by using while loop

x = [12,15,16,'data',45,'p']
i = 0
while i<len(x):
  print(x[i])
  i+=1

12
15
16
data
45
p

In [51]:
# To disply elements by index wise
x = [15,45,78,'data']
p = len(x)

for i in range(p):
  print(x[i],"'s","positive index is :",i,"And negative index is :",i-p)

15 's positive index is : 0 And negative index is : -4
45 's positive index is : 1 And negative index is : -3
78 's positive index is : 2 And negative index is : -2
data 's positive index is : 3 And negative index is : -1

# **Important function of list**

Python offers the subsequent list functions:

* sort(): Sorts the list in ascending order.
* type(list): It returns the class type of an object.
* append(): Adds one element to a list.
* extend(): Adds multiple elements to a list.
* index(): Returns the first appearance of a particular value.
* max(list): It returns an item from the list with a max value.
* min(list): It returns an item from the list with a min value.
* len(list): It gives the overall length of the list.
* clear(): Removes all the elements from the list.
* insert(): Adds a component at the required position.
* count(): Returns the number of elements with the required value.
* pop(): Removes the element at the required position.
* remove(): Removes the primary item with the desired value.
* reverse(): Reverses the order of the list.
* copy():  Returns a duplicate of the list.

## 1. to get information of list

In [53]:
 #len(list) : It gives the overall length of the list.

 x =[12,15,14,78]
 len(x)

4

In [55]:
#count(): Returns the number of elements with the required value

x = [1,1,2,2,3,3,4,1,4,2,3,2,1,]
print(x.count(1))
print(x.count(2))
print(x.count(3))
print(x.count(4))

4
4
3
2

In [56]:
#index(): Returns the first appearance of a particular value.
x= [1,2,3,5,6,5,6,1,2,3]

x.index(3)

2

## 2. Manipulating Elements of List:

In [59]:
#append() Function: add item at the end of the list

x = [1,2,3,4,5,6]
x.append("data")  
x

[1, 2, 3, 4, 5, 6, 'data']

In [68]:
# E.g To add all the elements to list upto 100 which are divisible by 9
x= []
for i in range (101):
  if i%9==0:
    if i==0:          # 0 can not divide by 9
      continue
    x.append(i)
x

[9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99]

In [72]:
  #2) Insert Function: to insert item at specified index position

  x = [1,2,3,4,5,6]
  x.insert(5,63)   # it will insert at given index not replace
  x

[1, 2, 3, 4, 5, 63, 6]

Note: If the specified index is greater than max index then element will be inserted at lastposition. If the specified index is smaller than min index then element will be inserted at first position.

In [73]:
#extend(): Adds multiple elements to a list.
x1= [1,2,3,4,5]
x2 = [6,7,8,9]

x1.extend(x2)
x1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
#remove() function:  We can use this function to remove specified item from the list.If the item present
 # multiple times then only first occurrence will be removed.
 
x = [1,2,3,45,68,48,41]
print(x.remove(45))
x

None

[1, 2, 3, 68, 48, 41]

In [77]:
x.remove(41)
x

[1, 2, 3, 68, 48]

In [82]:
# pop()Function:  It removes and returns the last element of the list
x = [45,41,58,69,49,60]
print(x.pop(3))
x

69

[45, 41, 58, 49, 60]

In [92]:
x = [35,56,86,95,45,458]
x.pop()

458

### 3. Ordering Elements of List:

In [95]:
# reverse(): Reverses the order of the list.

x = [12,15,48,96,78]
x.reverse()
x

[78, 96, 48, 15, 12]

2.sort():

In list by default insertion order is preserved.

If want to sort the elements of list according to default natural sorting order then we should go for sort() method.

For numbers --> Default Natural sorting Order is Ascending Order

For Strings-->Default Natural sorting order is Alphabetical Order

In [96]:
x = [12,58,45,96,32,4]
print(x.sort())

None

In [97]:
x = ['A',"a",'aa','aA','AA','Aa']
x.sort()                          # by alphabetically and capital 1st
x

['A', 'AA', 'Aa', 'a', 'aA', 'aa']

# **To Sort in Reverse of Default Natural Sorting Order:**

We can sort according to reverse of default natural sorting order by using reverse=True argument.

In [100]:
x = [10,15,485,78,5,55]
x.sort()
print(x)
x.sort(reverse =False)
print(x)

x.sort(reverse = True)
print(x)

[5, 10, 15, 55, 78, 485]
[5, 10, 15, 55, 78, 485]
[485, 78, 55, 15, 10, 5]

# Aliasing and Cloning of List Objects:
The process of giving another reference variable to the existing list is called aliasing.

difference betn alising , cloning and copy in list



* Aliasing means giving another name to the existing object. it doesnâ€™t mean copying, because when you aliasing a list and make any changes in old list or new list then it will affect the both lists.

* copy() method is used to copy all the elements of a list to the another list.

 Note: When we copy a list all elements are store in another list means both lists are independent.

* When we clone a list all the elements is stored in another list. means both lists are independent.

In [104]:
#aliasing
x = [1,2,3,4,56]
b=x
print(x)
print(b)
print(id(x))
print(id(b))

b[0]= 'sun'  #if we change the element in one list the change automatically happens in other list
print(x)
b

[1, 2, 3, 4, 56]
[1, 2, 3, 4, 56]
140018412949008
140018412949008
['sun', 2, 3, 4, 56]

['sun', 2, 3, 4, 56]

In [105]:
#cloninf using copy() method

x = [1,2,3,4,5,6]
b = x.copy()
print(x)
print(b)
print(id(x))   #all the elements are same in both list but id is not same
print(id(b))

b[0]='sun' # if we change the element in one list ,no effect on other list 

print(x)
b

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
140018412723248
140018413354032
[1, 2, 3, 4, 5, 6]

['sun', 2, 3, 4, 5, 6]

In [107]:
 #cloning using slice()

 x = [1,2,3,4,5,6]

 b=x[:]

 print(x)
 print(b)
 print(id(x))    #both same but id will be different
 print(id(b))

 x[1] = " sun"   #change in one list doesn't affect other list

 print(x)
 print(b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
140018412901152
140018412902032
[1, ' sun', 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

# Using Mathematical Operators for List Objects
* Concatenation Operator (+):

* We can use + to concatenate 2 lists into a single list.

In [108]:
x= [1,2,3,4]
x1 = [5,6,7,8]
z = x+x1
z

[1, 2, 3, 4, 5, 6, 7, 8]

In [131]:
x = [1,2,3,4] #
y = [5,6,7,8]
for i in x:
  for j in y:
    z=i+j
    print(z)

6
7
8
9
7
8
9
10
8
9
10
11
9
10
11
12

In [121]:
x = [1,2,30]
for i in x:
  print(i)

1
2
30

Repetition Operator (*):

We can use repetition operator * to repeat elements of list specified number of times.

In [133]:
x = [1,2,3,4]

x*len(x)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

Comparing List Objects:

We can use comparison operators for List objects.

In [134]:
x = ["loki","thor","hulk"]
y = ["Loki","Thor","huLk"]
z = ["LOki","THor","HUlk"]

print(x==y)
print(y==z)
print(y!=z)

False
False
True

In [135]:
print(x>y)
print(y>z)
print(z>y)

True
True
False

In [136]:
x = [10,105,458]
y =[10,105,45]
x>y

True

In [137]:
x = [100,145,145]
y = [101]
x>y

False

In [138]:
x = ['Aa']
y = ['aA']
x>y

False

In [140]:
x = ['as',10,15,45,78] #comparison only in same entity
y = [102,15,15,45]
x>y

TypeError: ignored

Membership Operators:

We can check whether element is a member of the list or not by using memebership operators.

1) in Operator

2) not in Operator

In [141]:
# in operator
x=[10,20,52,52,42,55,252]
print(15 in x)
print(10 in x)
print(250 in x)

False
True
False

In [143]:
#not in operator
print(15 not in x)
print(52 not in x)

True
False

clear() function:

--> To remove all elements of list

In [146]:
x = [10,15,45,48,75,89,54]

print(x)
x.clear()

x

[10, 15, 45, 48, 75, 89, 54]

[]

### Nested Lists:

Sometimes we can take one list inside another list. Such type of lists are called nested

In [156]:
x = [10,15,12,[45,69,63,48]]

print(x)
print(x[3])
print(x[3][3])
print(x[3][0])

[10, 15, 12, [45, 69, 63, 48]]
[45, 69, 63, 48]
48
45

In [162]:
#Nested List as Matrix:
 # In Python we can represent matrix by using nested lists.
x = [[1,2,3],[4,5,6],[7,8,9]]
print("Elements by row wise")
for i in x:
  print(i)

Elements by row wise
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [169]:
for i in range(len(x)):
  for j in range(len(x[i])):
    print(x[i][j],end="\t") 

  print()

1	2	3
4	5	6
7	8	9

## List Comprehensions:

It is very easy and compact way of creating list objects from any iterable objects (Like List, Tuple, Dictionary, Range etc) based on some condition.

Syntax: list = [expression for item in list if condition]

In [170]:
x = [y*y for y in range(1,11)]
print(x)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [175]:
z = [x for x in x if x%2==0]
print(z)

[4, 16, 36, 64, 100]

In [174]:
words=["Balaiah","Nag","Venkatesh","Chiranjeevi"]
l=[w[0] for w in words]
print(l)

['B', 'N', 'V', 'C']

In [176]:
x = [10,20,30,40,50] #print elenemts present only in x
y = [30,50,46,48,50]

z = [i for i in x if i not in y]
z

[10, 20, 40]

In [177]:
# Task: find the commom elements in two lists by using list comprehension

x = [1,2,3,4,5,6]
y = [4,5,6,7,8,9]

z = [i for i in x if i in y]
z

[4, 5, 6]

In [180]:
a = [i for i in x if i not in y]
b = [i for i in y if i not in x]

print(a)
print(b)
print(a+b)

[1, 2, 3]
[7, 8, 9]
[1, 2, 3, 7, 8, 9]