<a href="https://colab.research.google.com/github/sandeepbansode/Basic_Python/blob/main/7_Basic_python_tupel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tuple**

* Tuple is exactly same as List except that it is immutable. i.e once we creates Tuple object, we cannot perform any changes in that object. Hence Tuple is Read only version of List.

* If our data is fixed and never changes then we should go for Tuple.

* Insertion Order is preserved Duplicates are allowed Heterogeneous objects are allowed.

* We can preserve insertion order and we can differentiate duplicate objects by using index. Hence index will play very important role in Tuple also.

* Tuple support both +ve and -ve index. +ve index means forward direction (from left to right) and -ve index means backward direction (from right to left)

* We can represent Tuple elements within Parenthesis and with comma seperator.
[ ]

In [ ]:
# paranthesis are optional
x = 10,15,14,78,54
print(type(x))
x

<class 'tuple'>

(10, 15, 14, 78, 54)

In [ ]:
x = (10,15,45,86)
print(type(x))
x

<class 'tuple'>

(10, 15, 45, 86)

Q) Which of the following are valid Tuples?

1) t=()    # valid empty tuple

2) t=10,20,30,40 #valid tuple

3) t=10          # this is not tuple

4)t = (10,)      #tuple with single element

5) t=(10,20,30,40) #valid tuple

6) t = [10,20]   #list

tuple(t) #we can change list in to tuple

In [ ]:
x = [10,12,15,16]
print(tuple(x))
x

(10, 12, 15, 16)

[10, 12, 15, 16]

### Accessing Elements of Tuple:

We can access either by index or by slice operator

In [ ]:
# by index
x = (10,15,18,16)
x[0]

10

In [ ]:
x[3]

16

In [ ]:
x[100]

IndexError: ignored

In [ ]:
# by sice
x = (10,15,16,19,52,45,48,56)
x[::]

(10, 15, 16, 19, 52, 45, 48, 56)

In [ ]:
x[::-1] #for reverse the tuple

(56, 48, 45, 52, 19, 16, 15, 10)

In [ ]:
x[1:7:2]

(15, 19, 45)

## Tuple vs Immutability:

* Once we creates tuple, we cannot change its content. Hence tuple objects are immutable.

In [ ]:
x = (12,15,16,19,18,20)
x[0]

12

In [ ]:
x[0]=13

TypeError: ignored

# Mathematical Operators for Tuple:

We can apply + and * operators for tuple

In [ ]:
#conacatenation operator (+)

x = (10,12,15,46)
y= (12,45,78,69)
z = x+y
z

(10, 12, 15, 46, 12, 45, 78, 69)

In [ ]:
#2) Multiplication Operator OR Repetition Operator (*)
x = (12,45,87,63)
x*2

(12, 45, 87, 63, 12, 45, 87, 63)

### Important Functions of Tuple:

In [ ]:
# len()

x = (12,15,16,19)
len(x)

4

In [ ]:
#2. count():To return number of occurrences of given element in the tuple
x = (10,15,1,45,1,58,1)
x.count(1)

3

In [ ]:
# 3. index(): Returns index of first occurrence of the given element.
# If the specified element is not available then we will get ValueError.
x = (10,20,30,40,50,60)
x.index(40)

3

In [ ]:
# 4. sorted(): To sort elements based on default natural sorting order

x = (102,15,106,14,78)
y = sorted(x)
y

[14, 15, 78, 102, 106]

In [ ]:
#We can sort according to reverse of default natural sorting order as follows
z = sorted(x, reverse = True)
z

[106, 102, 78, 15, 14]

In [ ]:
# 5. min() and max() functions:
#These functions return min and max values according to default natural sorting order.

x = (10,15,16,14,78,201,45,42)
min(x)

10

In [ ]:
max(x)

201

Q. What do you mean by packing and unpacking of tuple?(explain with the help of code)

### Packing and Unpacking a Tuple: 

In Python, there is a very powerful tuple assignment feature that assigns the right-hand side of values into the left-hand side. In another way, it is called unpacking of a tuple of values into a variable. In packing, we put values into a new tuple while in unpacking we extract those values into a single variable.

In [1]:
# this lines PACKS values
# into variable a
a = ("Ironman", 50, "Engineering" , "170k$") 

# this lines UNPACKS values
# of variable a
(Superhero, Age, Degree, Sallary) = a 

print(Superhero)   #name of superhero
print(Age)         #print age
print(Degree)
print(Sallary)

Ironman
50
Engineering
170k$

In [5]:
 a = ("python","java","C#","C") #packing

 (lang1,lang2,lang3,lang4) = a        #unpacking

 print(lang1)
 print(lang2)
 print(lang3)
 print(lang4)

python
java
C#
C

**NOTE** : In unpacking of tuple number of variables on left-hand side should be equal to number of values in given tuple a.

# Tuple Comprehension:

Tuple Comprehension is not supported by Python.

t = ( x**2 for x in range(x,y))

Here we are not getting tuple object and we are getting generator object.

1) t= ( x**2 for x in range(x,y))

2) print(type(t))

3) for x in t:

4) print(x)

In [ ]:
t= ( x**3 for x in range(1,8))
print(type(t))
for x in t:
  print(x)

<class 'generator'>
1
8
27
64
125
216
343

Q. Write a Program to take a Tuple of Numbers from the Keyboard and Print its Sum and Average?

In [ ]:
t = eval(input("Enter The Number of Tuple : "))
l = len(t)
sum = 0
for i in t:
  sum = sum+i

print("The Sum :", sum)
print("The Avarge : ", sum/l)

Enter The Number of Tuple : 4,5,6,7
The Sum : 22
The Avarge :  5.5