<a href="https://colab.research.google.com/github/sandeepbansode/Basic_Python/blob/main/8_Basic_python_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Set**

Sets are used to store multiple items in a single variable.

A set is a collection which is unordered, unchangeable*, and unindexed.

Sets are written with curly brackets.

Set items are unordered, unchangeable, and do not allow duplicate values.

* Unordered

  Unordered means that the items in a set do not have a defined order.

  set items can appear in a different order every time 2qyou use them, and cannot   be referred to by index or key.

* Unchangeable

  Set items are unchangeable, meaning that we cannot change the items after the set has been created.

 ### Once a set is created, you cannot change its items, but you can remove  
 
 ###  items and add new items.

* Duplicates Not Allowed

  Sets cannot have two items with the same value.

In [6]:
#set
s = {1,2,3,4,5,6}
print(s)

type(s)

{1, 2, 3, 4, 5, 6}

set

In [5]:
# we can create set  using list
s = [10,12,45,21,10,12,10,45] #list to set fun x = set(s)

x = set(s)

print(type(s))
print(type(x))
x

<class 'list'>
<class 'set'>

{10, 12, 21, 45}

In [8]:
#duplicates are not allowed
s = {10,12,1,5,1,5,10,12}
s

{1, 5, 10, 12}

In [9]:
#incertion order not preserved
s = {10,0,30,40,50}
s

{0, 10, 30, 40, 50}

In [12]:
#indexing and slicing not allowed

s = {10,20,30,40,50,60}
print(s[1]) #it will reflect error

s[::-1]

TypeError: ignored

In [14]:
# Heterogeneous items allowed

s = {10,25,"set","True",50}
print(s)
type(s)

{10, 'set', 50, 25, 'True'}

set

In [50]:
s = set(range(10))
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

# important functions of set

In [52]:
#add(x) = add x item to set

x = {10,20,86,53}
x.add(54)
x

{10, 20, 53, 54, 86}

In [1]:
x = {10,15,48,69,52} #add function only add one element
y = {45,86,95,35}
x.add(y)
x

TypeError: ignored

In [55]:
#update : update multiple items in set

x ={10,20,30,40,50}
y = {15,25,35}
x.update(y)
x

{10, 15, 20, 25, 30, 35, 40, 50}

In [2]:
x = {10,15,46,23,45} #update add two set but cant update int directly in set
x.update(12,4,78,96)

TypeError: ignored

Q) What is the difference between add() and update() Functions in Set?


* We can use add() to add individual item to the Set,where as we can use update() function to add multiple items to Set.


* add() function can take only one argument where as update() function can take any number of arguments.

In [3]:
#3. copy(): returns copy of the set(cloning)

x = {20,6,45,63,69,2}
y=x.copy()

print(x)
print(y)

{2, 69, 6, 45, 20, 63}
{2, 20, 69, 6, 45, 63}

In [5]:
#4. pop(): It removes and returns some random element from the set 
s = [12,45,86,95,65,24] 
y = set(s)                 #converting list into set
y

{12, 24, 45, 65, 86, 95}

In [8]:
y.pop()        #pop() :remove random element

12

In [7]:
y

{12, 24, 45, 86, 95}

In [10]:
#5. remove(x):removes specified item from the set

x = {15,56,35,69,45,41}
x.remove(45)
x

{15, 35, 41, 56, 69}

In [11]:
x.remove(35)
x

{15, 41, 56, 69}

In [12]:
x.remove(70)  #if item is not in set it will give error
x

KeyError: ignored

In [14]:
#6.  discard(): It removes specified element from the space
# If specified error not present in the set then it will not throw error

x = {15,63,5,52,534,35,22,42,25,2,41}

x.discard(534)
x

{2, 5, 15, 22, 25, 35, 41, 42, 52, 63}

In [16]:
x.discard(22)
x

{2, 5, 15, 25, 35, 41, 42, 52, 63}

In [17]:
x.discard(500) #500 is not in set 
x

{2, 5, 15, 25, 35, 41, 42, 52, 63}

In [18]:
#7. clear(): to remove all the elements from the set

x = {12,45,78,98,65,32}
x.clear()
x

set()

In [19]:
x = {15,75,95,35,25,5,85,65} #clear does not take arguments it clears all the set
x.clear(35)

TypeError: ignored

In [20]:
x = {35,52,54,58,56,86}
x.clear()
x

set()

# **IMPORTANT CONCEPTS**

# Mathematical Operations on the Set:

In [22]:
# 1. union() :
# Syntax: x.union(y) OR x|y: Return all the elements present in both sets

x = {12,15,45,85,65,23}
y = {78,45,26,12,23}
x.union(y)

{12, 15, 23, 26, 45, 65, 78, 85}

In [23]:
y|x

{12, 15, 23, 26, 45, 65, 78, 85}

In [26]:
x = {15,36,95,32,63,25,}
y = {36,48,63,15,35,95}
print(y.union(x))
print(x.union(y))
print(x|y)
print(y|x)

{32, 35, 36, 15, 48, 25, 95, 63}
{32, 35, 36, 15, 48, 25, 95, 63}
{32, 35, 36, 15, 48, 25, 95, 63}
{32, 35, 36, 15, 48, 25, 95, 63}

In [27]:
# 2. intersection():
#Syntax: x.intersection(y) or x&y
#Returns common elements present in both x and y
x = {15,36,95,35,65}
y = {36,65,95.36,15}

print(x.intersection(y))

x&y

{65, 36, 15}

{15, 36, 65}

In [28]:
a = {15,35,62,96,53}
b = {35,63,69,53,96}

print(a.intersection(b))

a&b

{96, 35, 53}

{35, 53, 96}

In [29]:
# 3. difference():
# Syntax: x.difference(y) OR x-y.
#Returns the elements present in x but not in y.
x = {10,15,36,965,3,33}
y = {23,15,36,33,622,52}
x.difference(y)

{3, 10, 965}

In [30]:
x-y

{3, 10, 965}

In [32]:
x= {15,53,62,65,96}
y = {75,63,52,62,"b",96}

y-x

{52, 63, 75, 'b'}

In [33]:
#4. symmetric_difference():
# x.symmetric_difference(y) OR x^y
#Returns elements present in either x OR y but not in both.

x = {15,26,36,86,95,12,"data"}
y = {"python", "is",23,56,36,95}
x.symmetric_difference(y)

{12, 15, 23, 26, 56, 86, 'data', 'is', 'python'}

In [35]:
print(x^y)
print(y^x)

{12, 15, 86, 23, 26, 'is', 'python', 'data', 56}
{12, 15, 86, 23, 26, 'is', 'python', 'data', 56}

## membership operator (in , not in)

In [36]:
x = {12,35,62,96,52,36,25,}
15 in x

False

In [37]:
15 not in x

True

In [38]:
35 in x

True

In [40]:
s = set("python is easy lang")
s

{' ', 'a', 'e', 'g', 'h', 'i', 'l', 'n', 'o', 'p', 's', 't', 'y'}

In [41]:
 " " in s

True

In [43]:
"d" in s

False

# set comprehention

In [1]:


x = {s*s for s in range (0,100,15)} #squr in range of 0,15,30,45,...90
x

{0, 225, 900, 2025, 3600, 5625, 8100}

In [48]:
 x = {s%5==0 for s in range(10,50)}    #
 x

{False, True}

### Q) Write a Program to eliminate Duplicates Present in the List?

In [58]:
list1 = [10,20,30,40,10,20,30,40] #create a list with duplicate items
list2 = []                        # emty list
for i in list1:
  if i not in list2:              #olny add once
    list2.append(i)               #list.append() items in list
print(list2)

[10, 20, 30, 40]

In [19]:
x = [10,20,30,40,10,30,40,] #if list change in to set , duplicates automatically eliminate

y = set(x)
print(x)
y

[10, 20, 30, 40, 10, 30, 40]

{10, 20, 30, 40}

In [48]:
#Q. add items in list up to 100 only divisible by 9
list1= []

for i in range(0,100):
  if i%9==0:
    if i not in list1:
      list1.append(i)
print(list1)

[0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99]

Q) Write a Program to Print different Vowels Present in the given Word?(Using intersection method

In [67]:
# Q) Write a Program to Print different Vowels Present in the given Word?/string(Using intersection method

x = "data scientist"
y = ['a','e','i','o','u']
for i in x:
  if i in y:
    print(i,end="\t")

a	a	i	e	i

In [69]:
x = "data scientist"    # dont print vowels
y = ('a','e','i','o','u')
for i in x:
  if i in y:
    continue
  print(i,end="\t")

d	t	 	s	c	n	t	s	t

## UTF - 8

UTF-8 is one of the most commonly used encodings, and Python often defaults to using it. UTF stands for “Unicode Transformation Format”, and the ‘8’ means that 8-bit values are used in the encoding.

**UTF-8 uses the following rules:**

* If the code point is < 128, it’s represented by the corresponding byte value.

* If the code point is >= 128, it’s turned into a sequence of two, three, or four bytes, where each byte of the sequence is between 128 and 255.

**UTF-8 has several convenient properties:**

* It can handle any Unicode code point.

* A Unicode string is turned into a sequence of bytes that contains embedded zero bytes only where they represent the null character (U+0000). This means that UTF-8 strings can be processed by C functions such as strcpy() and sent through protocols that can’t handle zero bytes for anything other than end-of-string markers.

* A string of ASCII text is also valid UTF-8 text.

* UTF-8 is fairly compact; the majority of commonly used characters can be represented with one or two bytes.

* If bytes are corrupted or lost, it’s possible to determine the start of the next UTF-8-encoded code point and resynchronize. It’s also unlikely that random 8-bit data will look like valid UTF-8.

* UTF-8 is a byte oriented encoding. The encoding specifies that each character is represented by a specific sequence of one or more bytes. This avoids the byte-ordering issues that can occur with integer and word oriented encodings, like UTF-16 and UTF-32, where the sequence of bytes varies depending on the hardware on which the string was encoded.