<a href="https://colab.research.google.com/github/sandeepbansode/Basic_Python/blob/main/Basic_Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#hello welcome to python basics

In [3]:
#Python basics

In [5]:
print("Hello World")

Hello World

In [6]:
#comment for singel line

In [7]:
#comment for multiple line
"""How do you add text in Colab?
Select a cell and click the comment button in the toolbar above the top-right corner of the cell.
 Right click a text cell and select Add a comment from the context menu. 
 Use the shortcut Ctrl+Shift+M to add a comment to the currently selected cell."""

'How do you add text in Colab?\nSelect a cell and click the comment button in the toolbar above the top-right corner of the cell. Right click a text cell and select Add a comment from the context menu. Use the shortcut Ctrl+Shift+M to add a comment to the currently selected cell.'

In [8]:
#variables in python

In [14]:
#only print y #automatically only print last value
x = 15
y=102

x
y

102

In [13]:
#for print all we have to use print command 
x = 45 
b= 48

print(x)
print(y)

45

102

In [15]:
#or last variable can print automatically
a= 15
b=18
c=18
print(a)
print(b)
c

15
18

18

In [18]:
#variable names
#legal
myname = "sandeep"
N_ame = "sandeep"
_n_ame = "sandeep"
NamE = "Sandeep"
name1 = "sandeep"

In [20]:
print(myname)
print(N_ame)
print(_n_ame)
print(NamE)
print(name1)

sandeep
sandeep
sandeep
Sandeep
sandeep

In [21]:
#illegal variable name

# illegal variable
my name = sandeep 


-nmae = sandeep


my-name = sandeep

In [24]:
#locatin of variable
x=5 
y= 10
print(id(x))
print(id(y))

93853402446464
93853402446624

In [25]:
x= 10 
y=10

print (id(x))
print(id(y)) 
#same values stored in same locatin in python

93853402446624
93853402446624

In [30]:
x= 15
y = 160
print(id(x))
print(id(y)) # values of x and y are differtent so will be stored in differtent locatin

x=y 

print(x)
print(y)

93853402446784
93853402451424
160
160

In [29]:
print(id(x)) #id will be same #variable reflect the values last assigned
print(id(y))

93853402451424
93853402451424

In [32]:
#tyes of variables
#to check type of variable use print(type())

In [45]:
#types in python int, complex, float,str,tupel,set,list

In [43]:
x=12
y= 15.00
z= 15.25
a= "hey"
b= 5+9j
c= "true"

print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'str'>

In [63]:
a = 15
b= 15
c=a>b 
print(c)
print(type(c))

False
<class 'bool'>

In [64]:
a=120
b=105
c=a>b
print(c)
print(type(c))

True
<class 'bool'>

In [65]:
#tupe list set
x= (10,12,15,46)
y= [14,12,15,160]
z ={14,12,55,12,522}

a= ("hi","hello","hru")
b = ['hi',"hello","hru"]
c = {"hi","hello","hru"}
print(type(x))
print(type(y))
print(type(z))

print(type(a))
print(type(b))
print(type(c))

<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'tuple'>
<class 'list'>
<class 'set'>

In [48]:
#we can change the data type

x= 5 

print(x)
print(type(x))

5
<class 'int'>

In [52]:
print(float(x)) # float

5.0

In [53]:
x= 10.55
print(x) #float
print(type(x))
print(complex(x)) #complex

10.55
<class 'float'>
(10.55+0j)

In [54]:
#addition in variables

x= 10 #int
y= 15
z= x+y
print(z)

25

In [55]:
x=10.00 #float
y= 15
z=x+y
print(z)

25.0

In [56]:
x=5+6j #complex
y=9+8j
print(x+y)

(14+14j)

In [105]:
#division
x= 500
y= 65
z= x/y
print(z)
print(type(z))
print(int(z))

7.6923076923076925
<class 'float'>
7

In [106]:
x=505.00
y=5
print(x/y)

101.0

In [66]:
#multiplicatin of int

x= 10
y= 25
c= x*y
print(c)
print(type(c))

250
<class 'int'>

In [67]:
#multiplication of float

x= 12.00
y= 25.25

z = x*y
print(z)

303.0

In [68]:
x= 12 #if one is float ,output will be float
y= 14.26
z = x*y
print(z)

171.12

In [71]:
#multiplication of comlex

x= 11+2j
y= 6+9j
z= x*y
print(z)

(48+111j)

In [73]:
x= 5+6j
y = 10
z= x*y
print(z)
print(type(x))
print(type(y))
print(type(z))

(50+60j)
<class 'complex'>
<class 'int'>
<class 'complex'>

In [78]:
#slicing : positive slice begins from 0 and from left side

x = "hello world ! , python is easy languge"

print(x)
print(x[2])

hello world ! , python is easy languge
l

In [79]:
print(x[0])

h

In [81]:
print(x[12])
print(x[16])
print(x[11]) # 11 is space

!
p

In [92]:
#slicing : negative slice starts from -1 and from right side

x= "I am Iron Man."
print(x[0])
print(x[-0]) # print the same value ; print([0])

print(x[-1])

print(x[-11])
print(x[-3])

I
I
.
m
a

In [95]:
#slice in range (:)

x = "The Truth is… I am Iron Man."

print(x[:])

The Truth is… I am Iron Man.

In [96]:
print(x[0:])

The Truth is… I am Iron Man.

In [97]:
print(x[:-1])

The Truth is… I am Iron Man

In [98]:
print(x[1:7])

he Tru

In [100]:
print(x[-22:10])

uth

In [101]:
print(x[-2:3])

In [103]:
print(x[4:])
print(x[:4])

Truth is… I am Iron Man.
The

In [104]:
print(len(x)) #len:

28